<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="VideoRentalSystem_Rajpal_Connection" connectionString="Data Source=LAPTOP-NN2QR8SO\SQLEXPRESS;Initial Catalog=VideoRentalSystem_Rajpal;Integrated Security=SSPI; MultipleActiveResultSets=true;"
   providerName="System.Data.SqlClient" />
  <add name="VideoRentalSystem_Rajpal.Properties.Settings.VideoRentalSystem_RajpalConnectionString"
   connectionString="Data Source=LAPTOP-NN2QR8SO\SQLEXPRESS;Initial Catalog=VideoRentalSystem_Rajpal;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>